<h2 class="text-center">Edit Book</h2>
<form (ngSubmit)="update()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Title
      <input name="title" [(ngModel)]="book.title" type="text" class="form-control">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Author
      <input name="author" [(ngModel)]="book.author" type="text" class="form-control">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Description
      <textarea name="description" [(ngModel)]="book.description" type="text" class="form-control"></textarea>
    </label>
  </div>
  <button type="submit" class="btn btn-outline-dark">Update</button>
</form>
